a{
    text-decoration: none;
    outline: none;
}

.landing-page-container video{
    transform: scale(1.1);
}

.landing-page{
    height: 100vh;
    width: 100%;
    /* background: url(/assets/landing_page_bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-mid{
    display: flex;
    gap: 5vw;
}

.navbar img{
    width: 7rem;
    mix-blend-mode: lighten; /* DAAAAAMMMMNNNN */
}

/* URC Title */

.urc-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.urc-title h1{
    letter-spacing: 1px;
    font-family: "Krona One", sans-serif;
    line-height: 110%;
}

.urc-title :nth-child(1) {
    font-size: 3rem;
    font-weight: 800;
    padding-right: 100px;
    width: fit-content;
    /* background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; */
    color: white;
}

.urc-title :nth-child(2) {
    font-size: 8rem;
    width: fit-content;
    font-weight: 800;
    color: #6f44c2; 
    text-shadow: 
        1px 3px 4px #a59f9f, 
        -1px -1px 2px #464343, 
        1px -1px 2px #000, 
        -1px 1px 2px #000000; 
}


.urc-title :nth-child(3){
    font-size: 3rem;
    width: fit-content;
    font-weight: 800;
    color: white; 
}

/* URC Subtitles */

.urc-subtitle{
    position: relative;
}

.urc-subtitle h3{
    font-size: 2rem;
    /* background: linear-gradient(180deg, white 0%, #5d36a2 100%); */
    color: white;
    text-align: center;
}

/* Flip Text */

.flip-words {
    z-index: 10;
    /* display: inline-block; */
    /* position: relative; */
    text-align: left;
    color: white;
    padding: 0 0.5rem;
}
  
.flip-words.dark {
    color: #f3f4f6;
}
  
.flip-letter {
    /* display: inline-block; */
    color: #5d36a2;
}  

.flip-words {
    text-align: center;
    color: #000;
}
  
.flip-word {
    font-size: 2rem;
    margin: 1rem;
}

/* Cards Page */

.cards-page{
    /* background: linear-gradient(190deg, #5d36a2 0%, black 100%); */
    background: url(/assets/landing_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-info{
    background: linear-gradient(180deg, #5d36a2 0%, black 100%);
}

.mySwiper .swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet{
    background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
    background-color: #5d36a2 !important;
}

/* Register Page */

.register-container{
    padding: 5rem;
    width: 70%;
}

.register-container h2{
    font-family: 'montserrat',sans-serif;
    transition: transform ease 0.3s;
}

.car-img{
    transform: scale(1.25);
    bottom: -10rem;
    right: -10rem;
}

/* Prices Page */

.top-overlay{
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.bottom-overlay{
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.animated-gradient {
    animation: animateBg 5s linear infinite;
    background-image: linear-gradient(90deg,#5d36a2,#6f44c2,#5a14db,#c227ff,#8046ec,#5d36a2,#6f44c2);
    background-size: 600% 100%;
}

@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

/* .prices-page{
    background: linear-gradient(180deg, #5d36a2 0%, black 100%);
} */

/* Footer */

.footer{
    background: linear-gradient(0deg, black 30%, #6e44c249 100%);
    /* background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite; */
}

.footer-top{
    flex-direction: row;
}

.footer h4{
    font-family: 'montserrat',sans-serif;
    transition: transform ease 0.3s;
}

.footer-top-left img{
    mix-blend-mode: lighten; /* DAAAAAMMMMNNNN 2 */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Media Queries */

@media (max-width: 1300px) {
    .car-img{
        right: -20rem;
    }
}

@media (max-width: 1150px) {
    .register-container{
        width: 80%;
    }

    .prices-top{
        transform: scale(0.8);
    }
}

@media (max-width: 1060px) {
    .urc-title{
        padding-top: 0;
        padding-bottom: 0;
    }

    .landing-page-container video{
        transform: scale(1.5);
        margin-top: 6rem;
    }

    .urc-title :nth-child(2) {
        font-size: 6rem;
    }

    .urc-title :nth-child(1),
    .urc-title :nth-child(3) {
        font-size: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .landing-page {
        padding: 0 4rem;
    }

    .flip-word {
        font-size: 1.8rem;
    }

    .register-container{
        transform: scale(0.9);
    }

    .car-img{
        transform: scale(1);
    }

    .footer-top{
        transform: scale(0.8);
    }
}

@media (max-width: 960px) {
    .prices-top, .prices-bottom{
        transform: scale(0.8);
    }
}

@media (max-width: 900px) {
    .landing-page-container video{
        transform: scale(2);
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .landing-page {
        padding: 0 2rem;
    }

    .urc-title {
        padding-top: 3vh;
        padding-bottom: 2vh;
    }

    .urc-title :nth-child(2) {
        font-size: 4rem;
    }

    .urc-title :nth-child(1),
    .urc-title :nth-child(3) {
        font-size: 2rem;
    }

    .flip-word {
        font-size: 1.5rem;
        margin: 0.8rem;
    }

    .urc-subtitle h3 {
        font-size: 1.5rem;
    }

    .prices-top{
        transform: scale(1);
    }
    .prices-page{
        transform: scale(1);
    }
}

@media (max-width: 700px) {
    .landing-page-container video{
        transform: scale(2.5);
        margin-top: 13rem;
    }

    .footer-top{
        transform: scale(0.7);
    }

    .register-container{
        padding: 3rem;
    }

    .car-img{
        display: none;
    }
}

@media (max-width: 525px) {
    .landing-page-container video{
        transform: scale(3.5);
        margin-top: 15rem;
    }
}

@media (max-width: 500px) {
    .footer-top{
        transform: scale(0.6);
    }
}

@media (max-width: 480px) {
    .landing-page {
        padding: 0 1rem;
    }

    .urc-title :nth-child(2) {
        font-size: 3rem;
    }

    .urc-title :nth-child(1),
    .urc-title :nth-child(3) {
        font-size: 1.5rem;
    }

    .flip-word {
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    .urc-subtitle h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .footer-top{
        flex-direction: column;
        transform: scale(1);
    }

    .contact-us :nth-child(1){
        width: 150%;
    }
}

@media (max-width: 400px) {
    .landing-page{
        height: 80vh;
    }

    .landing-page-container video{
        transform: scale(5);
        margin-top: 15rem;
    }

    .nav-right{
        transform: scale(0.8);
    }

    .prices-top{
        margin-top: 5rem;
    }

    .register-container{
        padding: 2rem;
    }
}

@media (max-width: 380px) {
    .urc-title{
        transform: scale(0.9);
    }

    .urc-subtitle{
        transform: scale(0.9);
    }
}

@media (max-width: 350px) {
    .urc-title{
        transform: scale(0.8);
        margin-left: -5vw;
        margin-right: 0;
    }

    .footer-top{
        transform: scale(0.8);
    }
}

@media (max-width: 335px) {
    .urc-title{
        margin-left: -7vw;
    }
}

@media (max-width: 310px) {
    .urc-title{
        margin-left: -10vw;
    }

    .footer-top{
        transform: scale(0.7);
    }
}